/* Spacing vars */
/* @link https://utopia.fyi/space/calculator?c=360,16,1.2,1240,16,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
    /* Space 3xs: 4px → 4px */
    --s-3xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
    /* Space 2xs: 8px → 8px */
    --s-2xs: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
    /* Space xs: 12px → 12px */
    --s-xs: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
    /* Space s: 16px → 16px */
    --s-s: clamp(1rem, 1rem + 0vw, 1rem);
    /* Space m: 24px → 24px */
    --s-m: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);
    /* Space l: 32px → 32px */
    --s-l: clamp(2rem, 2rem + 0vw, 2rem);
    /* Space xl: 48px → 48px */
    --s-xl: clamp(3rem, 3rem + 0vw, 3rem);
    /* Space 2xl: 64px → 64px */
    --s-2xl: clamp(4rem, 4rem + 0vw, 4rem);
    /* Space 3xl: 96px → 96px */
    --s-3xl: clamp(6rem, 6rem + 0vw, 6rem);

    /* One-up pairs */
    /* Space 3xs-2xs: 4px → 8px */
    --s-3xs-2xs: clamp(0.25rem, 0.1477rem + 0.4545vw, 0.5rem);
    /* Space 2xs-xs: 8px → 12px */
    --s-2xs-xs: clamp(0.5rem, 0.3977rem + 0.4545vw, 0.75rem);
    /* Space xs-s: 12px → 16px */
    --s-xs-s: clamp(0.75rem, 0.6477rem + 0.4545vw, 1rem);
    /* Space s-m: 16px → 24px */
    --s-s-m: clamp(1rem, 0.7955rem + 0.9091vw, 1.5rem);
    /* Space m-l: 24px → 32px */
    --s-m-l: clamp(1.5rem, 1.2955rem + 0.9091vw, 2rem);
    /* Space l-xl: 32px → 48px */
    --s-l-xl: clamp(2rem, 1.5909rem + 1.8182vw, 3rem);
    /* Space xl-2xl: 48px → 64px */
    --s-xl-2xl: clamp(3rem, 2.5909rem + 1.8182vw, 4rem);
    /* Space 2xl-3xl: 64px → 96px */
    --s-2xl-3xl: clamp(4rem, 3.1818rem + 3.6364vw, 6rem);
}

/* Typography vars */
/* @link https://utopia.fyi/type/calculator?c=360,16,1.2,1240,16,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
    /* Step -2: 11.1111px → 10.24px */
    --t--2: clamp(0.64rem, 0.7167rem + -0.099vw, 0.6944rem);
    /* Step -1: 13.3333px → 12.8px */
    --t--1: clamp(0.8rem, 0.847rem + -0.0606vw, 0.8333rem);
    /* Step 0: 16px → 16px */
    --t-0: clamp(1rem, 1rem + 0vw, 1rem);
    /* Step 1: 19.2px → 20px */
    --t-1: clamp(1.2rem, 1.1795rem + 0.0909vw, 1.25rem);
    /* Step 2: 23.04px → 25px */
    --t-2: clamp(1.44rem, 1.3899rem + 0.2227vw, 1.5625rem);
    /* Step 3: 27.648px → 31.25px */
    --t-3: clamp(1.728rem, 1.6359rem + 0.4093vw, 1.9531rem);
    /* Step 4: 33.1776px → 39.0625px */
    --t-4: clamp(2.0736rem, 1.9231rem + 0.6687vw, 2.4414rem);
    /* Step 5: 39.8131px → 48.8281px */
    --t-5: clamp(2.4883rem, 2.2578rem + 1.0244vw, 3.0518rem);
    /* Step 6: 47.7757px → 61.0352px */
    --t-6: clamp(2.986rem, 2.647rem + 1.5068vw, 3.8147rem);
}

/* Colors */
:root {
    --bg: hsl(0, 0%, 6%);

    --fg-d: hsl(0, 0%, 100%);
    --fg: hsl(0, 0%, 90%);
    --fg-l: hsl(0, 0%, 65%);
    --fg-xl: hsl(0, 0%, 40%);
    --fg-2xl: hsl(0, 0%, 25%);
    --fg-3xl: hsl(0, 0%, 15%);

    --neon-green: hsl(143, 100%, 60%);
    --backdrop-green: hsl(143, 67%, 45%);
    --pastel-red: hsl(0, 100%, 76%);
    --cream-yellow: hsl(35, 100%, 87%);
    --accent: var(--neon-green);
}

/* Animations & Transitions */
:root {
    --ease-in-out: cubic-bezier(0.34, 1.56, 0.64, 1);
}
