@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 500ms var(--ease-in-out);
}

.modal-overlay.closing {
    animation: fadeOut 500ms var(--ease-in-out);
}


.modal-content {
    background: var(--bg);
    padding: var(--s-l);
    width: clamp(400px, 50%, 600px);
    box-shadow:
        4px 4px 512px -128px var(--fg),
        4px 4px 0px -1.8px var(--fg);
    border: 1px solid var(--fg);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--fg-xl);
    padding-bottom: var(--s-m);
    margin-bottom: var(--s-m);
}

.modal-header h2 {
    margin: 0;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: var(--s-s);
    padding-top: var(--s-m);
    margin-top: var(--s-m);
    border-top: 1px solid var(--fg-light);
}
