.sidebar {
    width: 18dvw;
    height: 100vh;
    background-color: var(--bg);
    padding: var(--s-s);
    border-right: 1px solid var(--fg-3xl);
    display: flex;
    position: fixed;
    flex-direction: column;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.sidebar li {
    margin-bottom: var(--s-2xs);
}

.sidebar a {
    text-decoration: none;
    color: var(--fg);
    font-size: var(--t-1);
    transition: color 0.5s var(--ease-in-out);
}

.sidebar a:hover {
    color: var(--accent);
}

.logout-container {
    margin-top: auto;
}

.logout-container button {
    width: 100%;
}
